.git
.gitignore
.editorconfig
.npmrc
.github
.idea
.netbeans
.envrc

tests
src
lib
tmp
types

tsconfig.json
tsconfig.lint.json
tslint.json

node_modules
npm-debug.log
.node_history
*.swo
*.swp
*.swn
*.swm
*.seed
*.log
*.out
*.pid
lib-cov
.DS_STORE
*#
*\#
.\#*
*~
.tmp
dump.rdb

.auto-changelog*
.release-it.json
